@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  background-color: antiquewhite;
  color: brown;
  text-align: center;
  margin-top: 100px;
}

header {
  text-align: center;
  font-size: 50px;
  font-weight: 700;
}

.card-body {
  background-color: rgb(5, 5, 5);
  text-align: center;
  font-weight: 600;
  padding: 5px;
}

#bears {
  display: flex;
  flex: wrap;
  justify-content: space-between;
  padding: 10px;
}

#picture {
  display: flex;
  height: fit-content;
  width: fit-content;
}
